.about{
    margin: 40px 0;
    padding:20px ;
    margin-left: 100px;
    box-shadow: rgba(0,0,0,0.15) 1.95px 2.6px;
}

.about-img img{
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.about-content h1{
    color: gray;
    font-family: cursive;
    border-bottom: 2px solid gray;
    text-align:center ;
}
.about-content p{
    text-align: justify;
    padding: 20px;
}