.work{
    background-color: #1387812a;
    margin-left: 120px;
}

.work-exp{
    padding:60px 0 ;
} 

.work-exp h2{
    font-weight: bold;
    color: #138781;
}

.work-exp-hr{
    color: #138781;
    width: 400px;
    margin: 10px auto;
}